{% extends 'base.html' %}


{% block body %}
<br>
<h1 align="center"><strong>О сайте</strong></h1><br><br>
<p><b>Данный сайт был создан для выполнения курсовой работы по предмету Технологии и методы программирования</b></p>
<p>Сайт разработал студент ФБ группы 718-1 Евдокимов А. В.</p>
<p>Для работы сайта используются Bootstrap 4 и язык программирования Python</p>
<div align="center"><img src="https://i.pinimg.com/originals/25/91/70/2591706897b2ac459931bb89e5c65ee3.jpg"></div>

{% endblock %}