<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Матричный калькулятор</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body >
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #ebebeb;">
    <div class="container-fluid">
        <h4>Матричный калькулятор</h4>

        <ul class="nav nav-pills" >
        <li class="nav-item">
            <a class="btn btn-light" href="/about">О сайте</a>&nbsp
        </li>
        <li class="nav-item" >
            <a class="btn btn-light" href="/">Главная страница</a>
        </li>
        </ul>

        <div class="container-fluid">
            <div><br>
                <span class="font-weight-bold" >Матричные задачи:</sраn>&nbsp&nbsp&nbsp&nbsp
            <a class="btn-link" href="/det">Детерминант матрицы</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn-link"  href="/reverse">Обратная матрица</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn-link"  href="/power">Возведение матрицы в степень</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn-link" href="/multiply">Умножение матрицы на число</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn-link"  href="/transpose">Транспонирование матрицы</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn-link"  href="/rank">Нахождение ранга матрицы</a>&nbsp&nbsp&nbsp&nbsp
                    <p></p><span class="font-weight-bold" >Мат. действия с матрицами:</sраn>&nbsp&nbsp&nbsp&nbsp
            <a class="btn-link"  href="/multiply_matrix">Умножение матрицы на матрицу</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn-link"  href="/plus">Сложение матриц</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn-link"  href="/minus">Вычитание матриц</a>&nbsp&nbsp&nbsp&nbsp
            </div>
        </div>

    </div>
</nav>

    <section class="col border ру-2">{% block body %}{% endblock %} </section>
</body>
</html>