{% extends 'base.html' %}


{% block body %}

<br>
    <h1><p align="center">Детерминант матрицы</p></h1>
    <p>Для решения нужно ввести <b>квадратную матрицу</b> и нажать кнопку решить</p>
    <p>Примеры ввода матрицы: <b>1, 2, 3; 4, 5, 6; 7, 8, 9</b></p>
    <p>Примеры ввода матрицы для дробных чисел: <b>1.123, 2.345; 3.34, 3</b></p>
    <p><b>Нахождение детерминанта матрицы (определителя)</b></p>
    <form action= "/det_method" method="post" >
        <input class="rounded form-control" rows="5" cols="50"  name="matrix" autofocus placeholder="Введите матрицу..." required>
         <br>
         <p><input class="rounded btn-light" type="submit" name="method" value="Решить"></p>
         <br>
         <textarea class="rounded form-control" rows="4" cols="43"  value = "text" name="answer" placeholder="Тут будет ответ!" readonly>{% if matrix %}{{matrix}}{% endif %}</textarea>
    </form>
    <br>
    В линейной алгебре определитель (или детерминант) — это скалярная величина, которая может быть вычислена и поставлена в однозначное соответствие любой квадратной матрице. Определитель матрицы А обозначается как det(A).
    <p>Пример нахождения определителя для матрицы 3х3:</p>
    <p><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/2e6e829b8518aa161d9cf2d5c5fdfe26fd9618af" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -4.005ex; width:73.333ex; height:9.176ex;" alt="\Delta ={\begin{vmatrix}a_{11}&amp;a_{12}&amp;a_{13}\\a_{21}&amp;a_{22}&amp;a_{23}\\a_{31}&amp;a_{32}&amp;a_{33}\end{vmatrix}}=a_{11}{\begin{vmatrix}a_{22}&amp;a_{23}\\a_{32}&amp;a_{33}\end{vmatrix}}-a_{12}{\begin{vmatrix}a_{21}&amp;a_{23}\\a_{31}&amp;a_{33}\end{vmatrix}}+a_{13}{\begin{vmatrix}a_{21}&amp;a_{22}\\a_{31}&amp;a_{32}\end{vmatrix}}="></p>
    <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/dced28523dc9ecfcaf234fc17561736f5a8019a0" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -0.671ex; width:72.564ex; height:2.343ex;" alt="=a_{11}a_{22}a_{33}-a_{11}a_{23}a_{32}-a_{12}a_{21}a_{33}+a_{12}a_{23}a_{31}+a_{13}a_{21}a_{32}-a_{13}a_{22}a_{31}">
    <br><br>
    <p><a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D0%B8%D1%82%D0%B5%D0%BB%D1%8C">Источник</a></p>


{% endblock %}