{% extends 'base.html' %}


{% block body %}

<br>
    <h1><p align="center">Вычитание матриц</p></h1>
    <p>Для решения нужно ввести матрицы, которым нужно посчитать разность и нажать кнопку решить</p>
    <p><b>Матрицы должны иметь одинаковый размер</b></p>
    <p>Примеры ввода матрицы: <b>1, 2, 3; 4, 5, 6; 7, 8, 9</b></p>
    <p>Примеры ввода матрицы для дробных чисел: <b>1.123, 2.345; 3.34, 3</b></p>
    <p><b>Вычитание матриц</b></p>
    <form action= "/minus_method" method="post" >
        <input class="rounded form-control" rows="5" cols="50"  name="matrix" autofocus placeholder="Введите первую матрицу..." required>
         <br>
        <input class="rounded form-control" rows="5" cols="50"  name="matrix1"  placeholder="Введите вторую матрицу..." required>
         <br>
         <p><input class="rounded btn-light" type="submit" name="method" value="Решить"></p>
         <br>
         <textarea class="rounded form-control" rows="4" cols="43"  value = "text" name="answer" placeholder="Тут будет ответ!" readonly>{% if matrix %}{{matrix}}{% endif %}</textarea>
    </form>
    <br>
<p>Вычитание матриц – это операция нахождения разности двух матриц одного и того же размера, которая определяется через сложение матриц и через умножение матрицы на число.</p>
<p>Разность матриц А и В – это матрица С = А – В такого же размера как исходные матрицы, получаемая из исходных путем прибавления к матрице А матрицы В, умноженной на -1.
Таким образом, разность матриц выглядит так:</p>
<p>Аm×n – Вm×n = Аm×n + (-1) × Вm×n = Аm×n + (-Вm×n) = Сm×n</p>
Пример вычитания матриц:
    <p><img src="https://www.yotx.ru/Images/matrix-subtraction-2.gif"> </p>
    <p><a href="https://www.yotx.ru/%D0%9C%D0%B0%D1%82%D1%80%D0%B8%D1%86%D1%8B/%D0%92%D1%8B%D1%87%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D0%B5">Источник</a></p>

{% endblock %}