{% extends 'base.html' %}


{% block body %}

<br>
    <h1><p align="center">Умножение матрицы на число</p></h1>
    <p>Для решения нужно ввести матрицу, число на которое нужно умножить и нажать кнопку решить</p>
    <p>Примеры ввода матрицы: <b>1, 2, 3; 4, 5, 6; 7, 8, 9</b></p>
    <p>Примеры ввода матрицы для дробных чисел: <b>1.123, 2.345; 3.34, 3</b></p>
    <p><b>Умножение матрицы на число</b></p>
    <form action= "/multiply_method" method="post" >
        <input class="rounded form-control" rows="5" cols="50"  name="matrix" autofocus placeholder="Введите матрицу..." required>
         <br>
        <input class="rounded form-control" rows="5" cols="50"  name="multiply"  placeholder="Укажите на какое число умножить матрицу..." required>
         <br>
         <p><input class="rounded btn-light" type="submit" name="method" value="Решить"></p>
         <br>
         <textarea class="rounded form-control" rows="4" cols="43"  value = "text" name="answer" placeholder="Тут будет ответ!" readonly>{% if matrix %}{{matrix}}{% endif %}</textarea>
    </form>
    <br>
    При умножении матрицы на число, каждый элемент матрицы умножается на это число. Данное действие схоже с умножением матрицы на матрицу, только в данном случае число является матрицой 1х1.
    <p></p>
    <p><a href="https://ru.wikipedia.org/wiki/%D0%A3%D0%BC%D0%BD%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86">Источник</a></p>

{% endblock %}