{% extends 'base.html' %}


{% block body %}

<br>
    <h1><p align="center">Умножение матрицы на матрицу</p></h1>
    <p>Для решения нужно ввести матрицы, которые нужно перемножить и нажать кнопку решить</p>
    <p>Примеры ввода матрицы: <b>1, 2, 3; 4, 5, 6; 7, 8, 9</b></p>
    <p>Примеры ввода матрицы для дробных чисел: <b>1.123, 2.345; 3.34, 3</b></p>
    <p><b>Умножение матрицы на матрицу</b></p>
    <form action= "/multiply_matrix_method" method="post" >
        <input class="rounded form-control" rows="5" cols="50"  name="matrix" autofocus placeholder="Введите первую матрицу..." required>
         <br>
        <input class="rounded form-control" rows="5" cols="50"  name="matrix1"  placeholder="Введите вторую матрицу..." required>
         <br>
         <p><input class="rounded btn-light" type="submit" name="method" value="Решить"></p>
         <br>
         <textarea class="rounded form-control" rows="4" cols="43"  value = "text" name="answer" placeholder="Тут будет ответ!" readonly>{% if matrix %}{{matrix}}{% endif %}</textarea>
    </form>
    <br>
    Умножение матриц — одна из основных операций над матрицами. Матрица, получаемая в результате операции умножения, называется произведением матриц. Элементы новой матрицы получаются из элементов старых матриц в соответствии с правилами, проиллюстрированными ниже.
    <p><img alt="Matrix multiplication diagram 2.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Matrix_multiplication_diagram_2.svg/313px-Matrix_multiplication_diagram_2.svg.png" decoding="async" width="313" height="275" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Matrix_multiplication_diagram_2.svg/470px-Matrix_multiplication_diagram_2.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Matrix_multiplication_diagram_2.svg/626px-Matrix_multiplication_diagram_2.svg.png 2x" data-file-width="313" data-file-height="275"></p>
    <p><a href="https://ru.wikipedia.org/wiki/%D0%A3%D0%BC%D0%BD%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86">Источник</a></p>

{% endblock %}