{% extends 'base.html' %}




{% block body %}
<div class="container mt-5">
      <h1 class="m-0">Попался дружок-пирожок! Путь в эту часть сайта запрещен!</h1>
    <br>
    <h4>Если ты заблудился, отправляйся-ка на  <a  href="/">главную страницу</a></h4>
</div>
<div align="center">
    <img src="https://c4.wallpaperflare.com/wallpaper/976/117/318/anime-girls-404-not-found-glowing-eyes-girls-frontline-wallpaper-preview.jpg">
</div>

</footer>
{% endblock %}