{% extends 'base.html' %}


{% block body %}

<br>
    <h1><p align="center">Сложение матриц</p></h1>
    <p>Для решения нужно ввести матрицы, которые нужно сложить и нажать кнопку решить</p>
    <p><b>Матрицы должны иметь одинаковый размер</b></p>
    <p>Примеры ввода матрицы: <b>1, 2, 3; 4, 5, 6; 7, 8, 9</b></p>
    <p>Примеры ввода матрицы для дробных чисел: <b>1.123, 2.345; 3.34, 3</b></p>
    <p><b>Сложение матриц</b></p>
    <form action= "/plus_method" method="post" >
        <input class="rounded form-control" rows="5" cols="50"  name="matrix" autofocus placeholder="Введите первую матрицу..." required>
         <br>
        <input class="rounded form-control" rows="5" cols="50"  name="matrix1"  placeholder="Введите вторую матрицу..." required>
         <br>
         <p><input class="rounded btn-light" type="submit" name="method" value="Решить"></p>
         <br>
         <textarea class="rounded form-control" rows="4" cols="43"  value = "text" name="answer" placeholder="Тут будет ответ!" readonly>{% if matrix %}{{matrix}}{% endif %}</textarea>
    </form>
    <br>
<p>Сложение матриц А и В – это нахождение такой матрицы С, все элементы которой представляют собой сложенные попарно соответствующие элементы исходных матриц А и В. Складывать допускается только матрицы одинаковой размерности (допустим m × n), т.е. имеющие равное количество строк и равное количество столбцов.</p>
<p>Таким образом, математически сумма матриц выглядит так:</p>
<p>Аm×n + Bm×n = Cm×n</p>
Пример сложения матриц:
    <p><img src="https://www.yotx.ru/Images/matrix-addition-2.gif"> </p><br>
    <p><a href="https://www.yotx.ru/%D0%9C%D0%B0%D1%82%D1%80%D0%B8%D1%86%D1%8B/%D0%A1%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5#:~:text=%D0%A1%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86%20%D0%90%20%D0%B8%20%D0%92,%D1%81%D1%82%D1%80%D0%BE%D0%BA%20%D0%B8%20%D1%80%D0%B0%D0%B2%D0%BD%D0%BE%D0%B5%20%D0%BA%D0%BE%D0%BB%D0%B8%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%BE%20%D1%81%D1%82%D0%BE%D0%BB%D0%B1%D1%86%D0%BE%D0%B2.">Источник</a></p>

{% endblock %}