{% extends 'base.html' %}


{% block body %}

<br>
    <h1><p align="center">Возведение матрицы в степень</p></h1>
    <p>Для решения нужно ввести матрицу, число для возведения в степень и нажать кнопку решить</p>
<p>Для возведения в степень используются <b>только целые числа</b>, также определитель матрицы не должен равняться 0, при возведении в отрицательную степень!</p>
    <p>Примеры ввода матрицы: <b>1, 2, 3; 4, 5, 6; 7, 8, 9</b></p>
    <p>Примеры ввода матрицы для дробных чисел: <b>1.123, 2.345; 3.34, 3</b></p>
    <p><b>Возведение матрицы в степень</b></p>
    <form action= "/power_method" method="post" >
        <input class="rounded form-control" rows="5" cols="50"  name="matrix" autofocus placeholder="Введите матрицу..." required>
         <br>
        <input class="rounded form-control" rows="5" cols="50"  name="power"  placeholder="Укажите степень..." required>
         <br>
         <p><input class="rounded btn-light" type="submit" name="method" value="Решить"></p>
         <br>
         <textarea class="rounded form-control" rows="4" cols="43"  value = "text" name="answer" placeholder="Тут будет ответ!" readonly>{% if matrix %}{{matrix}}{% endif %}</textarea>
    </form>
    <br>
    Возведение матрицы в степень представляет собой умножение заданной матрицы саму на себя n-ое количество раз, где n – степень, в которую необходимо возвести исходную матрицу.
    <p></p>
    <p><a href="https://www.yotx.ru/%D0%9C%D0%B0%D1%82%D1%80%D0%B8%D1%86%D1%8B/%D0%92%D0%BE%D0%B7%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5_%D0%B2_%D1%81%D1%82%D0%B5%D0%BF%D0%B5%D0%BD%D1%8C">Источник</a></p>

{% endblock %}