{% extends 'base.html' %}


{% block body %}

<br>
    <h1><p align="center">Обратная матрица</p></h1>
    <p>Для решения нужно ввести <b>квадратную матрицу</b> и нажать кнопку решить</p>
    <p>Примеры ввода матрицы: <b>1, 2, 3; 4, 5, 6; 7, 8, 9</b></p>
    <p>Примеры ввода матрицы для дробных чисел: <b>1.123, 2.345; 3.34, 3</b></p>
    <p><b>Нахождение обратной матрицы</b></p>
    <form action= "/reverse_method" method="post" >
        <input class="rounded form-control" rows="5" cols="50"  name="matrix" autofocus placeholder="Введите матрицу..." required>
         <br>
         <p><input class="rounded btn-light" type="submit" name="method" value="Решить"></p>
         <br>
         <textarea class="rounded form-control" rows="4" cols="43"  value = "text" name="answer" placeholder="Тут будет ответ!" readonly>{% if matrix %}{{matrix}}{% endif %}</textarea>
    </form>
    <br>
    Обратная матрица — такая матрица A<sup>-1</sup>, при умножении на которую исходная матрица A даёт в результате единичную матрицу E:
    <p><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/223550d307f7babd656386efd36ca2ebe22f6670" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -0.338ex; width:20.257ex; height:2.676ex;" alt="{\displaystyle AA^{-1}=A^{-1}A=E.}"></p>
    Пример для матрицы 2х2:
<p><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/b589a1669c29cf41d34ac0ca6e0d645ab6b66344" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -2.505ex; width:61.5ex; height:6.509ex;" alt="{\displaystyle \mathbf {A} ^{-1}={\begin{bmatrix}a&amp;b\\c&amp;d\\\end{bmatrix}}^{-1}={\frac {1}{\det \mathbf {A} }}{\begin{bmatrix}d&amp;-c\\-b&amp;a\\\end{bmatrix}}={\frac {1}{ad-bc}}{\begin{bmatrix}d&amp;-c\\-b&amp;a\\\end{bmatrix}}.}"></p>
    <p><a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%B1%D1%80%D0%B0%D1%82%D0%BD%D0%B0%D1%8F_%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86%D0%B0">Источник</a></p>

{% endblock %}