{% extends 'base.html' %}


{% block body %}

<br>
    <h1><p align="center">Транспонирование матрицы</p></h1>
    <p>Для решения нужно ввести матрицу и нажать кнопку решить</p>
    <p>Примеры ввода матрицы: <b>1, 2, 3; 4, 5, 6; 7, 8, 9</b></p>
    <p>Примеры ввода матрицы для дробных чисел: <b>1.123, 2.345; 3.34, 3</b></p>
    <p><b>Умножение матрицы на матрицу</b></p>
    <form action= "/transpose_method" method="post" >
        <input class="rounded form-control" rows="5" cols="50"  name="matrix" autofocus placeholder="Введите матрицу..." required>
         <br>
         <p><input class="rounded btn-light" type="submit" name="method" value="Решить"></p>
         <br>
         <textarea class="rounded form-control" rows="4" cols="43"  value = "text" name="answer" placeholder="Тут будет ответ!" readonly>{% if matrix %}{{matrix}}{% endif %}</textarea>
    </form>
    <br>
Транспонированная матрица — матрица A<sup>T</sup>, полученная из исходной матрицы A заменой строк на столбцы.
    <p><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/190954662152745f3164995a870e2ec64caedd34"></p>
    <p><a href="https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B0%D0%BD%D1%81%D0%BF%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86%D0%B0">Источник</a></p>

{% endblock %}